node_modules/

dist/
build/
*.tsbuildinfo

private.key

logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

.env
.env.test
.env.production

.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.swp
*.swo
*.swn

.DS_Store
Thumbs.db

*.tgz
coverage/

config.json
